.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-blue {
  &-100 {
    background-color: var(--blue-100);

    &.hover:hover {
      background-color: var(--blue-200);
    }

    &.hover-ease {
      transition: background-color var(--transition-speed) ease;

      &:hover {
        background-color: var(--blue-200);
      }
    }
  }

  &-200 {
    background-color: var(--blue-200);
  }

  &-400 {
    background-color: var(--blue-400);
  }

  &-500 {
    background-color: var(--blue-500);
  }
}

.bg-orange {
  &-100 {
    background-color: var(--orange-100);
  }

  &-200 {
    background-color: var(--orange-200);
  }

  &-300 {
    background-color: var(--orange-300);
  }

  &-400 {
    background-color: var(--orange-400);
  }

  &-500 {
    background-color: var(--orange-500);
  }

  &-600 {
    background-color: var(--orange-600);
  }
}

.bg-white {
  background-color: var(--background);
}

.bg-noise {
  background-image: url("/images/textures/noise.png");
  background-position: center;
  background-repeat: repeat;
}

.bg-gradient {
  &-morning {
    background: var(--background-gradient-blue);
  }

  &-afternoon {
    background: var(--background-gradient-orange);
  }

  &-night {
    background: var(--background-gradient-gray);
  }

  &-orange {
    background: linear-gradient(180deg, var(--orange-200), var(--orange-400));
  }

  &-blue {
    background: linear-gradient(180deg, var(--blue-400), var(--blue-500));
  }
}

.bg-transparent {
  background-color: transparent;
}

.bg-banner-texture {
  background-image: url("/images/textures/banner-texture-1.svg"),
    linear-gradient(180deg, var(--orange-200), var(--orange-400));
  background-position: center;
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: screen;
  width: 1280px;
  height: 738px;
  opacity: 20%;
}
