$radius-1: 0.25rem;
$radius-2: 0.5rem;
$radius-3: 1rem; // default
$radius-4: 1.5rem;
$radius-5: 2rem;
$radius-6: 2.5rem;
$radius-7: 3rem;
$radius-8: 3.5rem;

.round {
  &-full {
    border-radius: 50%;
  }

  &-half {
    border-radius: 0.8rem;
  }

  &-1 {
    border-radius: $radius-1;
  }

  &-2 {
    border-radius: $radius-2;
  }

  &-3 {
    border-radius: $radius-3;
  }

  &-4 {
    border-radius: $radius-4;
  }

  &-5 {
    border-radius: $radius-5;
  }

  &-6 {
    border-radius: $radius-6;
  }

  &-7 {
    border-radius: $radius-7;
  }

  &-8 {
    border-radius: $radius-8;
  }

  &-top {
    &-1 {
      border-radius: $radius-1 $radius-1 0 0;
    }

    &-2 {
      border-radius: $radius-2 $radius-2 0 0;
    }

    &-3 {
      border-radius: $radius-3 $radius-3 0 0;
    }
  }

  &-bottom {
    &-1 {
      border-radius: 0 0 $radius-1 $radius-1;
    }

    &-2 {
      border-radius: 0 0 $radius-2 $radius-2;
    }

    &-3 {
      border-radius: 0 0 $radius-3 $radius-3;
    }
  }
}

.shadow {
  &-1 {
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.3);
  }

  &-2 {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  }

  &-3 {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
}
