@use "./media-queries" as *;

//  WIDTHS

.w {
  &-auto {
    width: auto;
    align-items: flex-start;
  }

  &-25 {
    width: 25%;
  }

  &-33 {
    width: 33.33%;
  }

  &-50 {
    width: 50%;
  }

  &-75 {
    width: 75%;
  }

  &-100 {
    width: 100%;

    &vw {
      width: 100vw;
    }
  }

  &-100x {
    width: 100px;
  }

  &-200x {
    width: 200px;
  }

  &-300x {
    width: 300px;
  }

  &-400x {
    width: 400px;
  }

  &-500x {
    width: 500px;
  }

  &-600x {
    width: 600px;
  }

  &-700x {
    width: 700px;
  }
}

// HEIGHTS

.h {
  &-auto {
    height: fit-content;
  }

  &-fill {
    height: -webkit-fill-available;
  }

  &-25 {
    height: 25%;
  }

  &-50 {
    height: 50%;

    &vh {
      height: 50vh;
    }
  }

  &-75 {
    height: 75%;

    &vh {
      height: 75vh;
    }
  }

  &-100 {
    height: 100%;

    &vh {
      height: 100vh;
    }
  }

  &-100x {
    height: 100px;
  }

  &-200x {
    height: 200px;
  }

  &-300x {
    height: 300px;
  }

  &-400x {
    height: 400px;
  }

  &-500x {
    height: 500px;
  }

  &-600x {
    height: 600px;
  }

  &-700x {
    height: 700px;
  }

  &-800x {
    height: 800px;
  }
}

@media (#{ $tablet }) {
  .tablet {
    &\:w-33 {
      width: 33.33%;
    }
  }
}
