// SPACINGS

$spacing-1: 0.25rem; // 4px
$spacing-2: 0.5rem; // 8px
$spacing-3: 0.75rem; // 12px
$spacing-4: 1rem; // 16px
$spacing-5: 1.5rem; // 24px
$spacing-6: 2rem; // 32px
$spacing-7: 2.5rem; // 40px
$spacing-8: 3rem; // 48px

// PADDINGS

.p {
  // Padding container

  &-container {
    padding-top: $spacing-5;
    padding-bottom: $spacing-5;
    padding-left: $spacing-5;
    padding-right: $spacing-5;
  }

  &-container-lr {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $spacing-5;
    padding-right: $spacing-5;
  }

  &-container-tb {
    padding-top: $spacing-5;
    padding-bottom: $spacing-5;
    padding-left: 0;
    padding-right: 0;
  }

  &-container-top-0 {
    padding-top: 0;
    padding-bottom: $spacing-5;
    padding-left: $spacing-5;
    padding-right: $spacing-5;
  }

  // Padding all sides

  &-1 {
    padding-top: $spacing-1;
    padding-bottom: $spacing-1;
    padding-left: $spacing-1;
    padding-right: $spacing-1;
  }

  &-2 {
    padding-top: $spacing-2;
    padding-bottom: $spacing-2;
    padding-left: $spacing-2;
    padding-right: $spacing-2;
  }

  &-3 {
    padding-top: $spacing-3;
    padding-bottom: $spacing-3;
    padding-left: $spacing-3;
    padding-right: $spacing-3;
  }

  &-4 {
    padding-top: $spacing-4;
    padding-bottom: $spacing-4;
    padding-left: $spacing-4;
    padding-right: $spacing-4;
  }

  &-5 {
    padding-top: $spacing-5;
    padding-bottom: $spacing-5;
    padding-left: $spacing-5;
    padding-right: $spacing-5;
  }

  &-6 {
    padding-top: $spacing-6;
    padding-bottom: $spacing-6;
    padding-left: $spacing-6;
    padding-right: $spacing-6;
  }

  &-7 {
    padding-top: $spacing-7;
    padding-bottom: $spacing-7;
    padding-left: $spacing-7;
    padding-right: $spacing-7;
  }

  &-8 {
    padding-top: $spacing-8;
    padding-bottom: $spacing-8;
    padding-left: $spacing-8;
    padding-right: $spacing-8;
  }

  // Padding top and bottom

  &-tb {
    &-1 {
      padding-top: $spacing-1;
      padding-bottom: $spacing-1;
    }

    &-2 {
      padding-top: $spacing-2;
      padding-bottom: $spacing-2;
    }

    &-3 {
      padding-top: $spacing-3;
      padding-bottom: $spacing-3;
    }

    &-4 {
      padding-top: $spacing-4;
      padding-bottom: $spacing-4;
    }

    &-5 {
      padding-top: $spacing-5;
      padding-bottom: $spacing-5;
    }

    &-6 {
      padding-top: $spacing-6;
      padding-bottom: $spacing-6;
    }

    &-7 {
      padding-top: $spacing-7;
      padding-bottom: $spacing-7;
    }

    &-8 {
      padding-top: $spacing-8;
      padding-bottom: $spacing-8;
    }
  }

  // Padding left and right

  &-lr {
    &-1 {
      padding-left: $spacing-1;
      padding-right: $spacing-1;
    }

    &-2 {
      padding-left: $spacing-2;
      padding-right: $spacing-2;
    }

    &-3 {
      padding-left: $spacing-3;
      padding-right: $spacing-3;
    }

    &-4 {
      padding-left: $spacing-4;
      padding-right: $spacing-4;
    }

    &-5 {
      padding-left: $spacing-5;
      padding-right: $spacing-5;
    }

    &-6 {
      padding-left: $spacing-6;
      padding-right: $spacing-6;
    }

    &-7 {
      padding-left: $spacing-7;
      padding-right: $spacing-7;
    }

    &-8 {
      padding-left: $spacing-8;
      padding-right: $spacing-8;
    }
  }

  // Padding top

  &t {
    &-1 {
      padding-top: $spacing-1;
    }

    &-2 {
      padding-top: $spacing-2;
    }

    &-3 {
      padding-top: $spacing-3;
    }

    &-4 {
      padding-top: $spacing-4;
    }

    &-5 {
      padding-top: $spacing-5;
    }

    &-6 {
      padding-top: $spacing-6;
    }

    &-7 {
      padding-top: $spacing-7;
    }

    &-8 {
      padding-top: $spacing-8;
    }
  }

  // Padding bottom

  &b {
    &-1 {
      padding-bottom: $spacing-1;
    }

    &-2 {
      padding-bottom: $spacing-2;
    }

    &-3 {
      padding-bottom: $spacing-3;
    }

    &-4 {
      padding-bottom: $spacing-4;
    }

    &-5 {
      padding-bottom: $spacing-5;
    }

    &-6 {
      padding-bottom: $spacing-6;
    }

    &-7 {
      padding-bottom: $spacing-7;
    }

    &-8 {
      padding-bottom: $spacing-8;
    }
  }
}

// MARGINS

.m {
  // Margin all sides

  &-1 {
    margin: $spacing-1;
  }

  &-2 {
    margin: $spacing-2;
  }

  &-3 {
    margin: $spacing-3;
  }

  &-4 {
    margin: $spacing-4;
  }

  &-5 {
    margin: $spacing-5;
  }

  &-6 {
    margin: $spacing-6;
  }

  &-7 {
    margin: $spacing-7;
  }

  &-8 {
    margin: $spacing-8;
  }

  // Margin top and bottom

  &tb {
    &-1 {
      margin-top: $spacing-1;
      margin-bottom: $spacing-1;
    }

    &-2 {
      margin-top: $spacing-2;
      margin-bottom: $spacing-2;
    }

    &-3 {
      margin-top: $spacing-3;
      margin-bottom: $spacing-3;
    }

    &-4 {
      margin-top: $spacing-4;
      margin-bottom: $spacing-4;
    }

    &-5 {
      margin-top: $spacing-5;
      margin-bottom: $spacing-5;
    }

    &-6 {
      margin-top: $spacing-6;
      margin-bottom: $spacing-6;
    }

    &-7 {
      margin-top: $spacing-7;
      margin-bottom: $spacing-7;
    }

    &-8 {
      margin-top: $spacing-8;
      margin-bottom: $spacing-8;
    }
  }

  // Margin left and right

  &lr {
    &-1 {
      margin-left: $spacing-1;
      margin-right: $spacing-1;
    }

    &-2 {
      margin-left: $spacing-2;
      margin-right: $spacing-2;
    }

    &-3 {
      margin-left: $spacing-3;
      margin-right: $spacing-3;
    }

    &-4 {
      margin-left: $spacing-4;
      margin-right: $spacing-4;
    }

    &-5 {
      margin-left: $spacing-5;
      margin-right: $spacing-5;
    }

    &-6 {
      margin-left: $spacing-6;
      margin-right: $spacing-6;
    }

    &-7 {
      margin-left: $spacing-7;
      margin-right: $spacing-7;
    }

    &-8 {
      margin-left: $spacing-8;
      margin-right: $spacing-8;
    }
  }

  // Margin top

  &t {
    &-1 {
      margin-top: $spacing-1;
    }

    &-2 {
      margin-top: $spacing-2;
    }

    &-3 {
      margin-top: $spacing-3;
    }

    &-4 {
      margin-top: $spacing-4;
    }

    &-5 {
      margin-top: $spacing-5;
    }

    &-6 {
      margin-top: $spacing-6;
    }

    &-7 {
      margin-top: $spacing-7;
    }

    &-8 {
      margin-top: $spacing-8;
    }
  }

  // Margin bottom

  &b {
    &-1 {
      margin-bottom: $spacing-1;
    }

    &-2 {
      margin-bottom: $spacing-2;
    }

    &-3 {
      margin-bottom: $spacing-3;
    }

    &-4 {
      margin-bottom: $spacing-4;
    }

    &-5 {
      margin-bottom: $spacing-5;
    }

    &-6 {
      margin-bottom: $spacing-6;
    }

    &-7 {
      margin-bottom: $spacing-7;
    }

    &-8 {
      margin-bottom: $spacing-8;
    }
  }

  // Margin left

  &l {
    &-1 {
      margin-left: $spacing-1;
    }

    &-2 {
      margin-left: $spacing-2;
    }

    &-3 {
      margin-left: $spacing-3;
    }

    &-4 {
      margin-left: $spacing-4;
    }

    &-5 {
      margin-left: $spacing-5;
    }

    &-6 {
      margin-left: $spacing-6;
    }

    &-7 {
      margin-left: $spacing-7;
    }

    &-8 {
      margin-left: $spacing-8;
    }
  }

  // Margin right

  &r {
    &-1 {
      margin-right: $spacing-1;
    }

    &-2 {
      margin-right: $spacing-2;
    }

    &-3 {
      margin-right: $spacing-3;
    }

    &-4 {
      margin-right: $spacing-4;
    }

    &-5 {
      margin-right: $spacing-5;
    }

    &-6 {
      margin-right: $spacing-6;
    }

    &-7 {
      margin-right: $spacing-7;
    }

    &-8 {
      margin-right: $spacing-8;
    }
  }
}

// Negative margins

.-m {
  &t-1 {
    margin-top: -$spacing-1;
  }

  &t-2 {
    margin-top: -$spacing-2;
  }

  &t-3 {
    margin-top: -$spacing-3;
  }

  &t-4 {
    margin-top: -$spacing-4;
  }

  &t-5 {
    margin-top: -$spacing-5;
  }

  &t-6 {
    margin-top: -$spacing-6;
  }

  &t-7 {
    margin-top: -$spacing-7;
  }

  &t-8 {
    margin-top: -$spacing-8;
  }
}

@media (max-width: 767px) {
  .sm {
    &\:mtb-1 {
      margin-top: $spacing-1;
      margin-bottom: $spacing-1;
    }

    &\:mtb-2 {
      margin-top: $spacing-2;
      margin-bottom: $spacing-2;
    }

    &\:mtb-3 {
      margin-top: $spacing-3;
      margin-bottom: $spacing-3;
    }

    &\:mtb-4 {
      margin-top: $spacing-4;
      margin-bottom: $spacing-4;
    }
  }

  .p {
    // Padding container

    &-container {
      padding-top: $spacing-4;
      padding-bottom: $spacing-4;
      padding-left: $spacing-4;
      padding-right: $spacing-4;
    }

    &-container-lr {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: $spacing-4;
      padding-right: $spacing-4;
    }

    &-container-tb {
      padding-top: $spacing-4;
      padding-bottom: $spacing-4;
      padding-left: 0;
      padding-right: 0;
    }

    &-container-top-0 {
      padding-top: 0;
      padding-bottom: $spacing-4;
      padding-left: $spacing-4;
      padding-right: $spacing-4;
    }
  }
}

@media (min-width: 768px) {
  .md {
    &\:ml-4 {
      margin-left: $spacing-4;
    }
  }
}

@media (min-width: 1024px) {
  .lg {
    &\:ml-4 {
      margin-left: $spacing-4;
    }

    &\:mtb-0 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
