@use "./media-queries" as *;

.hover-bg-1 {
  transition: background-color var(--transition-speed) ease-in-out;

  &:hover {
    background-color: var(--blue-200);
  }
}

.hover-width-50 {
  transition: width var(--transition-speed) ease-in-out;

  &:hover {
    width: 50%;
  }
}

.hover-translateY {
  &-1,
  &-2,
  &-3 {
    transition: transform var(--transition-speed) ease-in-out;
  }

  &-1 {
    &:hover {
      transform: translateY(-0.25rem);
    }
  }

  &-2 {
    &:hover {
      transform: translateY(-0.5rem);
    }
  }

  &-3 {
    &:hover {
      transform: translateY(-1rem);
    }
  }
}

@media (#{ $mobile }) {
  .mobile {
    &\:hover-translateY {
      &-1,
      &-2,
      &-3 {
        transition: transform var(--transition-speed) ease-in-out;
      }

      &-1 {
        &:hover {
          transform: translateY(-0.25rem);
        }
      }

      &-2 {
        &:hover {
          transform: translateY(-0.5rem);
        }
      }

      &-3 {
        &:hover {
          transform: translateY(-1rem);
        }
      }
    }
  }
}

@media (#{ $tablet }) {
  .tablet {
    &\:hover-width-50 {
      transition: width var(--transition-speed) ease-in-out;

      &:hover {
        width: 50%;
      }
    }
  }
}
