h1.heading {
  font-size: 4.8rem;
  line-height: 5rem;
}

h2.heading {
  font-size: 3rem;
  line-height: 3rem;
}

h3.heading {
  font-size: 1.5rem;
  line-height: 1.8rem;

  &-light {
    font-weight: 400;
  }
}

h4.heading {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

p.paragraph {
  font-size: 1rem;
  line-height: 1.5rem;
}

p.text-small {
  font-size: 0.88rem;
  line-height: 1.3rem;
}

p.paragraph-lg {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

small.small {
  font-size: 0.85rem;
}

.color-white {
  color: var(--white);
}

button .text {
  font-size: 1rem;
}

.text {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-light {
    font-weight: 300;
  }

  &-bold {
    font-weight: 700;
  }

  &-highlight {
    color: var(--primary);
  }

  &-italic {
    font-style: italic !important;
  }
}

@media screen and (max-width: 768px) {
  h1.heading {
    font-size: 3.5rem;
    line-height: 3.9rem;
  }
}
