/*
  Breakpoints
  xs -> extra small devices -> max-width 480px

  sm -> small devices       -> max-width 767px
  md -> medium devices      -> min-width 768px
  lg -> large devices       -> min-width 1025px 

  320px — 480px: dispositivos móveis
  481px — 768px: iPads, tablets
  769px — 1024px: telas pequenas, laptops
  1025px — 1200px: desktops, telas grandes
  1201px e acima —  telas muito grandes, TVs
*/

$mobile: "max-width: 767px";
$tablet: "min-width: 768px";
$tablet-only: "(min-width: 768px) and (max-width: 1024px)";
$desktop: "min-width: 1025px";

// Only small devices

@media (#{ $mobile }) {
  .sm {
    &\:row {
      display: flex;
      flex-direction: row;
    }

    &\:column {
      flex-direction: column;
    }

    &\:w-50 {
      width: 50%;
    }
  }

  .mobile {
    &\:flex-column {
      display: flex;
      flex-direction: column;
    }

    &\:w-100 {
      width: 100%;
    }
  }
}

// Medium devices and above

@media (#{ $tablet }) {
  .md {
    &\:flex {
      display: flex;
    }

    &\:row {
      display: flex;
      flex-direction: row;
    }

    &\:column {
      flex-direction: column;
    }

    &\:w-50 {
      width: 50%;
    }
  }
}

// Large devices and above

@media (#{ $desktop }) {
  .lg {
    &\:row {
      display: flex;
      flex-direction: row;
    }

    &\:column {
      flex-direction: column;
    }

    &\:w-50 {
      width: 50%;
    }
  }
}
