@use "../base/variables" as *;

// Only small devices

@media (#{ $mobile }) {
  .sm {
    &\:row {
      display: flex;
      flex-direction: row;
    }

    &\:column {
      flex-direction: column;
    }

    &\:w-50 {
      width: 50%;
    }
  }

  .mobile {
    &\:flex-column {
      display: flex;
      flex-direction: column;
    }

    &\:w-100 {
      width: 100%;
    }
  }
}

// Medium devices and above

@media (#{ $tablet }) {
  .md {
    &\:flex {
      display: flex;
    }

    &\:row {
      display: flex;
      flex-direction: row;
    }

    &\:column {
      flex-direction: column;
    }

    &\:w-50 {
      width: 50%;
    }
  }
}

// Large devices and above

@media (#{ $desktop }) {
  .lg {
    &\:row {
      display: flex;
      flex-direction: row;
    }

    &\:column {
      flex-direction: column;
    }

    &\:w-50 {
      width: 50%;
    }
  }
}
