/*
  extra small: 640px
  small: 768px
  medium: 1024px
  large: 1280px
*/

.container-default {
  max-width: 100rem;
  margin: auto;
}

.container-fluid {
  width: 100%;
}

.container-xs {
  max-width: 40rem;
  margin-inline: auto;
}

.container-sm {
  max-width: 48rem;
  margin-inline: auto;
}

.container-md {
  max-width: 64rem;
  margin-inline: auto;
}

.container-lg {
  max-width: 80rem;
  margin-inline: auto;
}
