@use "./spacings" as *;

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-column {
    display: flex;
    flex-direction: column;
  }

  &-wrap {
    flex-wrap: wrap;
  }
}

.align {
  &-center {
    align-items: center;
  }

  &-start {
    align-items: flex-start;
  }

  &-end {
    align-items: flex-end;
  }
}

.justify {
  &-between {
    justify-content: space-between;
  }

  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: flex-end;
  }
}

.grid {
  display: grid;

  &-template {
    &-areas {
      display: grid;
    }

    &-columns {
      &-12,
      &-6,
      &-4,
      &-3,
      &-2,
      &-1 {
        display: grid;
      }

      &-1 {
        grid-template-columns: 1fr;
      }

      &-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &-6 {
        grid-template-columns: repeat(6, 1fr);
      }

      &-8 {
        grid-template-columns: repeat(8, 1fr);
      }

      &-10 {
        grid-template-columns: repeat(10, 1fr);
      }

      &-12 {
        grid-template-columns: repeat(12, 1fr);
      }
    }

    &-rows {
      display: grid;
      grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  &-column {
    &\:1-2 {
      grid-column: 1 / 3;
    }

    &\:1-3 {
      grid-column: 1 / 4;
    }

    &\:2-3 {
      grid-column: 2 / 4;
    }

    &\:3-4 {
      grid-column: 3 / 4;
    }

    &\:3-10 {
      grid-column: 3 / 11;
    }

    &\:4-12 {
      grid-column: 4 / 13;
    }

    &\:10-12 {
      grid-column: 11 / 13;
    }

    &\:auto {
      grid-column: auto;
    }
  }

  &-area {
    &\:logo {
      grid-area: logo;
    }

    &\:banner {
      grid-area: banner;
    }

    &\:links {
      grid-area: links;
    }

    &\:projects {
      grid-area: projects;
    }

    &\:playground {
      grid-area: playground;
    }

    &\:about {
      grid-area: about;
    }

    &\:footer {
      grid-area: footer;
    }
  }
}

.gap {
  &-1 {
    gap: $spacing-1;
  }

  &-2 {
    gap: $spacing-2;
  }

  &-3 {
    gap: $spacing-3;
  }

  &-4 {
    gap: $spacing-4;
  }

  &-5 {
    gap: $spacing-5;
  }

  &-6 {
    gap: $spacing-6;
  }

  &-7 {
    gap: $spacing-7;
  }

  &-8 {
    gap: $spacing-8;
  }
}

.wrap {
  flex-wrap: wrap;
}

.masonry {
  column-count: 2;
  column-gap: $spacing-5;

  &-column-2 {
    column-count: 2;
  }

  &-column-3 {
    column-count: 3;
  }

  &-column-4 {
    column-count: 4;
  }

  &-item {
    break-inside: avoid;
    margin-bottom: $spacing-5;
  }

  @media (min-width: 300px) and (max-width: 668px) {
    &-column-2,
    &-column-3,
    &-column-4 {
      column-count: 1;
    }
  }

  @media (min-width: 669px) and (max-width: 1024px) {
    &-column-2,
    &-column-3,
    &-column-4 {
      column-count: 2;
    }
  }
}

@media (max-width: 767px) {
  .grid-template-areas {
    grid-template-areas:
      "logo banner banner links"
      "projects projects projects projects"
      "playground playground playground playground"
      "about about about about"
      "footer footer footer footer";
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media (min-width: 768px) and (max-width: 1399px) {
  .grid-template-areas {
    grid-template-areas:
      "logo banner banner banner banner links"
      "projects projects projects projects projects projects"
      "playground playground playground playground playground playground"
      "about about about about about about"
      "footer footer footer footer footer footer";
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-area {
    &\:logo {
      grid-row: 1 / 4;
    }

    &\:links {
      grid-row: 1 / 4;
    }
  }
}

@media screen and (min-width: 1400px) {
  .grid-template-areas {
    grid-template-areas:
      "logo logo logo banner banner banner banner banner banner links links links"
      ". . projects projects projects projects projects projects projects projects . ."
      ". . playground playground playground playground playground playground playground playground . ."
      ". . about about about about about about about about . ."
      "footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-template-columns: repeat(12, 1fr);
  }
}
